[submodule "PlatformIO_esp32/lib/ucglib"]
	path = PlatformIO_esp32/lib/ucglib
	url = https://github.com/olikraus/ucglib.git
[submodule "work/ucglib"]
	path = work/ucglib
	url = https://github.com/olikraus/ucglib.git
